extends ../layout

block content
  a(href='/myapp') MyApp
  a(href='/myapp/signup') Sign Up
  a(href='/myapp/signin') Sign In

  ul(class='err') #{error}

  h1= title
  p Welcome to #{title}

  form(action='/myapp/signin' method='post') 
    div
      label(for='email') Email
    input(type='text' name='email') 
    div
      label(for='password') Password
    input(type='text' name='password') 
    div
      input(type='submit' name='signup' value='Sign In')